#header {
    float: left;
}
#header img{
    width: 60%;
}
.navbar {
    float: right;
}
.navbar a{
float: left;
font-family:Helvetica;
text-decoration: none;
padding: 10px;
margin: 6px;

}
.navbar a:hover{
    color: black;;
    border: 1px solid;
}
.clear {
    clear: both;
}
.banner {
    background-image: url("banner.jpg");
    background-size: 100%;
    max-width: 100%;
    max-height: 100%;
    padding-top: 7%;
    padding-bottom: 7%;
}
#myCountry {
    text-align: center;
    font-family: Helvetica ;
    font-size: 35px;
    font-weight: bolder;
    /* padding-top: 10%; */
}
p {
    font-family: Helvetica;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  /* padding-bottom: 10%; */

}
#headingText {
    font-family: Helvetica;
    text-align: center;
    margin-top: 5%;
    letter-spacing: -1px;
    font-weight: 200px;
}
button {
    text-align: center;
    font-family:Helvetica;
    font-size: medium;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
    background-color:rgb(149, 212, 87);
    border-radius: 6px;
    border-color: rgb(149, 212, 87);
    margin-left: 45%;
    margin-top: 15px;
}
hr {
    color: rgba(247, 244, 244, 0.989);
    margin: 45px;
}
.services {
    float: left;
    margin-left: 26px;
    padding-right: 15px;
}
.services p{
    font-family:Helvetica;
    text-align: left;
    padding-left: 0px; ;
    max-width: fit-content;
}
.services h3 {

    font-family:Helvetica;
    font-weight: bold;
    text-align: left;
}

#aboutUs {
    float: right;
    margin-right: 20px;
    margin-left: 7%;
}
#aboutUs img{
    width: 75%;
}
.aboutUs {
    margin-left: 50px;
    margin-top: 40px;
    font-family:Helvetica;
    padding-left:25px;
    margin-right: 50px;

}
.aboutUs p{
    font-weight:normal;
    text-align: left;
    padding-left: 0px;
    
}
.aboutUs h2 {
    font-size: 32px;
    font-weight: normal;
}
.aboutUs h5{
    font-weight: normal;
}
.aboutUs a {
    border: 1px solid;
    text-align: center;
    text-decoration: none;
    padding: 10px;

}
.banner2 {
    background-image: url(qurestions-banner.jpg);
    background-size: 100%;
    max-width: 100%;
    padding: 10%;
    margin-left: 4%;
   
}
.banner2 h1 {

    text-align: center;
    font-family: Helvetica;
    font-size: xx-large;
}
.banner2 p{
    font-size: medium;
    font-weight: lighter;
    text-align: justify;
    margin-right: 26%;
    margin-left: 26%;
} 
.banner2 a {
    
    text-decoration: none;
    text-align: center;
    font-size: medium;
    font-weight: lighter;
    font-family: Helvetica, sans-serif;
    border: 1px, solid;
    border-color: yellow;
    color: black;
    background-color: yellow;
    padding:15px
    

}
#listContractors {
    font-family: Helvetica;
    margin-left: 4%;
    margin-top: 2%;
}
#text {
    text-align: left;
    padding-left:4%;
}
.table {
    font-size:normal ;
    text-align: center;
    font-family: helvetica;
    margin-left: 4%;
}
#highlight {
    background-color: rgb(216, 208, 208);
    text-align: center;
}
#highlight th {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}


